<!DOCTYPE html>
<html lang="en">
<style>
    #map {
        width: 500px;
        height: 400px;
        background-color: grey;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="map"></div>
</body>
<script>
    let map;
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                console.log("lat"+position.coords.latitude)
                console.log("lng"+position.coords.longitude)
                alert(position.coords.latitude + ' ' + position.coords.longitude);
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {  lat: Number(position.coords.latitude), lng: Number(position.coords.longitude)},
                    zoom: 16,
                });
            }, function(error) {
                console.error(error);
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });
        } else {
            alert('GPS를 지원하지 않습니다');
        }
    }
    window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbBZ7x_Apr11nIHJL7xF7y3eO3QLe0SiU&callback=initMap&libraries=places&v=weekly&radius=5000"></script>
</html>