<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Helvetica&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica95-Black&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica-CondensedBlack&display=swap" rel="stylesheet"/>
    <link href="./css/main_web.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v8_794">
    <div class="v57_18"></div>
    <span class="v57_13">Space Breeding Residency</span><span class="v57_14">Soohyun Choi</span><span
        class="v57_16">최수현</span><span class="v57_17">공간 번식 레지던시</span>
    <div class="v57_35">
        <div class="v57_28">
            <div class="v57_29"></div>
            <span class="v57_30">V</span></div>
        <div class="v57_24">
            <div class="v57_23"></div>
            <span class="v57_22">T</span></div>
        <div class="v57_25">
            <div class="v57_26"></div>
            <span class="v57_27">P</span></div>
        <div class="v57_31">
            <div class="v57_32"></div>
            <span class="v57_33">L</span></div>
    </div>
    <div class="v57_43"></div>
    <div class="v61_226">
        <div class="v61_225"><span class="v8_807">Edit Mode</span>
            <div class="v61_222"></div>
        </div>
    </div>
    <div class="v63_236">
        <div class="v63_237"></div>
        <span class="v63_238">18px</span>
        <div class="v63_239"></div>
        <div class="v63_240"></div>
    </div>
    <div class="v63_241">
        <div class="v63_242"></div>
        <div class="v63_243"></div>
        <div class="v63_244"></div>
        <span class="v63_245">Helvetica</span></div>
    <div class="v63_246"></div>
    <div class="v63_247">
        <div class="v63_248">
            <div class="v63_249">
                <div class="v63_250"></div>
            </div>
        </div>
        <div class="v63_251">
            <div class="v63_252"><span class="v63_253">Drag and drop or browse your files</span>
                <div class="v63_254">
                    <div class="v63_255">
                        <div class="v63_256">
                            <div class="v63_257"></div>
                            <div class="v63_258"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="v63_259">Send a message</span>
    <div class="v63_260">
        <div class="v63_261">
            <div class="v63_262"></div>
        </div>
    </div>
    <div class="v63_263">
        <div class="v63_264"></div>
        <div class="v63_265">
            <div class="v63_266"></div>
            <div class="v63_267"></div>
            <div class="v63_268"></div>
            <div class="v63_269"></div>
            <div class="v63_270"></div>
        </div>
    </div>
    <div class="v63_271">
        <div class="v63_272"></div>
        <div class="v63_273">
            <div class="v63_274"></div>
            <div class="v63_275"></div>
            <div class="v63_276"></div>
            <div class="v63_277"></div>
            <div class="v63_278"></div>
        </div>
    </div>
    <div class="v63_279">
        <div class="v63_280"></div>
        <div class="v63_281">
            <div class="v63_282"></div>
            <div class="v63_283"></div>
            <div class="v63_284"></div>
            <div class="v63_285"></div>
            <div class="v63_286"></div>
        </div>
    </div>
    <span class="v91_2965">Wed 14 Aug 13 : 08 : 23</span>
    <div class="v118_1330"><span class="v118_1331">September</span>
        <div class="v118_1332"><span class="v118_1333">1</span><span class="v118_1334">2</span><span
                class="v118_1335">3</span><span class="v118_1336">4</span><span class="v118_1337">5</span><span
                class="v118_1338">6</span><span class="v118_1339">7</span><span class="v118_1340">8</span><span
                class="v118_1341">9</span><span class="v118_1342">10</span><span class="v118_1343">11</span><span
                class="v118_1344">12</span><span class="v118_1345">13</span><span class="v118_1346">14</span><span
                class="v118_1347">15</span><span class="v118_1348">16</span><span class="v118_1349">17</span><span
                class="v118_1350">18</span><span class="v118_1351">19</span><span class="v118_1352">20</span><span
                class="v118_1353">21</span><span class="v118_1354">22</span><span class="v118_1355">22</span><span
                class="v118_1356">23</span><span class="v118_1357">24</span><span class="v118_1358">25</span><span
                class="v118_1359">26</span><span class="v118_1360">27</span><span class="v118_1361">28</span><span
                class="v118_1362">29</span><span class="v118_1363">30</span></div>
        <div class="v118_1364">
            <div class="v118_1365"><span class="v118_1366">1</span><span class="v118_1367">2</span><span
                    class="v118_1368">3</span><span class="v118_1369">4</span><span class="v118_1370">5</span><span
                    class="v118_1371">6</span><span class="v118_1372">7</span><span class="v118_1373">8</span><span
                    class="v118_1374">9</span><span class="v118_1375">10</span><span class="v118_1376">11</span><span
                    class="v118_1377">12</span><span class="v118_1378">13</span><span class="v118_1379">14</span><span
                    class="v118_1380">15</span><span class="v118_1381">16</span><span class="v118_1382">17</span><span
                    class="v118_1383">18</span><span class="v118_1384">19</span><span class="v118_1385">20</span><span
                    class="v118_1386">21</span><span class="v118_1387">22</span><span class="v118_1388">22</span><span
                    class="v118_1389">23</span><span class="v118_1390">24</span><span class="v118_1391">25</span><span
                    class="v118_1392">26</span><span class="v118_1393">27</span><span class="v118_1394">28</span><span
                    class="v118_1395">29</span><span class="v118_1396">30</span></div>
            <span class="v118_1397">October</span></div>
        <span class="v118_1398">November</span></div>
</div>
</body>
</html>