<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Helvetica&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica-Light&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica95-Black&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica-CondensedBlack&display=swap" rel="stylesheet"/>
    <link href="./css/main_tablet.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v100_331">
    <div class="name"></div>
    <span class="v100_349">Space Breeding Residency</span><span class="v100_350">Soohyun Choi</span><span
        class="v100_351">최수현</span><span class="v100_352">공간 번식 레지던시</span>
    <div class="v100_353"></div>
    <div class="v100_354">
        <div class="v100_355">
            <div class="v100_356"></div>
        </div>
        <div class="v100_357"><span class="v100_358">Artist Current Location </span></div>
        <div class="v100_359"></div>
        <div class="v100_360"><span class="v100_361">Live Camera Off</span>
            <div class="v100_362">
                <div class="v100_363">
                    <div class="v100_364"></div>
                    <div class="v100_365"></div>
                </div>
            </div>
        </div>
        <div class="v100_366"><span class="v100_367">Artist Live Camera</span></div>
        <div class="v100_368">
            <div class="v100_369"></div>
            <div class="v100_370"><span class="v100_371">: USER TEXT</span><span
                    class="v100_372">: USER TEXT</span><span class="v100_373">: USER TEXT</span><span class="v100_374">: USER TEXT</span><span
                    class="v100_375">: USER TEXT</span><span class="v100_376">: USER TEXT</span><span class="v100_377">USER NAME</span><span
                    class="v100_378">USER NAME</span><span class="v100_379">USER NAME</span><span class="v100_380">USER NAME</span><span
                    class="v100_381">USER NAME</span><span class="v100_382">USER NAME</span></div>
            <div class="v100_383"><span class="v100_384">: USER TEXT</span><span
                    class="v100_385">: USER TEXT</span><span class="v100_386">: USER TEXT</span><span class="v100_387">: USER TEXT</span><span
                    class="v100_388">: USER TEXT</span><span class="v100_389">: USER TEXT</span><span class="v100_390">USER NAME</span><span
                    class="v100_391">USER NAME</span><span class="v100_392">USER NAME</span><span class="v100_393">USER NAME</span><span
                    class="v100_394">USER NAME</span><span class="v100_395">USER NAME</span></div>
        </div>
        <div class="v100_396">
            <div class="v100_397">
                <div class="v100_398">
                    <div class="v100_399"></div>
                    <div class="v100_400"></div>
                </div>
                <div class="v100_401"><span class="v100_402">Artist Chat Room</span></div>
            </div>
        </div>
    </div>
    <div class="v100_442">
        <div class="v100_443">
            <div class="v100_444">
                <div class="v100_445"></div>
            </div>
            <div class="v100_446">
                <div class="v100_447"></div>
            </div>
        </div>
    </div>
    <div class="v100_461">
        <div class="v100_462"><span class="v100_463">Viewer Mode</span>
            <div class="v100_464"></div>
        </div>
    </div>
    <div class="v100_739">
        <div class="v100_740">
            <div class="v100_741">
                <div class="v100_742"></div>
            </div>
            <div class="v100_743">
                <div class="v100_744"></div>
            </div>
        </div>
    </div>
    <div class="v100_745"></div>
    <span class="v100_746">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
</span><span class="v100_747">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
</span><span class="v118_933">September</span><span class="v118_934">2</span><span class="v118_935">3</span>
    <div class="v118_936"><span class="v118_937">1</span><span class="v118_938">2</span><span
            class="v118_939">3</span><span class="v118_940">4</span><span class="v118_941">5</span><span
            class="v118_942">6</span><span class="v118_943">7</span><span class="v118_944">8</span><span
            class="v118_945">9</span><span class="v118_946">10</span><span class="v118_947">11</span><span
            class="v118_948">12</span><span class="v118_949">13</span><span class="v118_950">14</span><span
            class="v118_951">15</span><span class="v118_952">16</span><span class="v118_953">17</span><span
            class="v118_954">18</span><span class="v118_955">19</span><span class="v118_956">20</span><span
            class="v118_957">21</span><span class="v118_958">22</span><span class="v118_959">22</span><span
            class="v118_960">23</span><span class="v118_961">24</span><span class="v118_962">25</span><span
            class="v118_963">26</span><span class="v118_964">27</span><span class="v118_965">28</span><span
            class="v118_966">29</span><span class="v118_967">30</span></div>
    <span class="v118_968">October</span></div>
</body>
</html>