<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Helvetica&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica-CondensedBlack&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica95-Black&display=swap" rel="stylesheet"/>
    <link href="./css/main_mobile.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v118_473">
    <div class="v118_566"></div>
    <span class="v118_479">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est

</span><span class="v118_480">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia  consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est 

</span>
    <div class="v118_481"></div>
    <span class="v118_482">Space Breeding Residency</span>
    <div class="v118_483"></div>
    <div class="name"></div>
    <span class="v118_485">최수현</span><span class="v118_486">공간 번식 레지던시</span><span class="v118_487">Soohyun Choi</span>
    <div class="v118_488"></div>
    <div class="v118_489"></div>
    <span class="v118_490">1</span><span class="v118_491">2</span><span class="v118_492">3</span><span class="v118_493">4</span><span
        class="v118_494">5</span><span class="v118_515">19</span><span class="v118_516">20</span><span class="v118_517">21</span><span
        class="v118_518">22</span><span class="v118_519">22</span><span class="v118_520">23</span><span
        class="v118_521">24</span><span class="v118_522">25</span><span class="v118_523">26</span><span
        class="v118_524">27</span><span class="v118_525">28</span><span class="v118_526">29</span><span
        class="v118_527">30</span><span class="v118_528">October</span>
    <div class="v118_529"><span class="v118_530">Viewer Mode</span>
        <div class="v118_531"></div>
    </div>
    <div class="v118_555"></div>
    <span class="v118_533">Live Camera</span><span class="v118_534">Chat Room</span><span class="v118_539">Current Location </span>
    <div class="v118_343">
        <div class="v118_344">
            <div class="v118_345">
                <div class="v118_346">
                    <div class="v118_347"></div>
                    <div class="v118_348"></div>
                </div>
            </div>
            <span class="v118_349">Live Camera Off</span></div>
    </div>
    <div class="v118_795"><span class="v118_796">September</span>
        <div class="v118_797"><span class="v118_798">1</span><span class="v118_799">2</span><span
                class="v118_800">3</span><span class="v118_801">4</span><span class="v118_802">5</span><span
                class="v118_803">6</span><span class="v118_804">7</span><span class="v118_805">8</span><span
                class="v118_806">9</span><span class="v118_807">10</span><span class="v118_808">11</span><span
                class="v118_809">12</span><span class="v118_810">13</span><span class="v118_811">14</span><span
                class="v118_812">15</span><span class="v118_813">16</span><span class="v118_814">17</span></div>
        <span class="v118_815">18</span></div>
</div>
</body>
</html>