<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    #videos {
        max-width: 100%;
        margin: 0 auto;
        padding: 2%;
    }

    video {
        max-width: 100%;
        width: 400px;
        height: 254px;
    }
    #map {
        width: 400px;
        height: 254px;
        background-color: grey;
    }
</style>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<div class="right-side">
    <div id="map"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>채팅</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="input-group">
                        Web socket connection:&nbsp;
                        <div class="btn-group">
                            <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" onclick="connect()">Connect</button>
                            <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" onclick="disconnect()" disabled>Disconnect</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="input-group" id="sendmessage" style="display: none;">
                        <input type="text" id="message" class="form-control" placeholder="Message">
                        <div class="input-group-append">
                            <button id="send" class="btn btn-primary" onclick="sendChat()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="content"></div>
            </div>
        </div>
    </div>
    <div id="videos" class="text-center">
        <!--
        작가면 localVideo , 사용자면 remoteVideo

        사용자는 마이크 사용 못하게, 안들을 수 있게
        !-->

        <video id="localVideo" autoplay muted playsinline></video>
        <button id="mute-btn" onclick="mute()">화면 끄기</button>
        <!--    <video id="remoteVideo" autoplay playsinline></video>-->
    </div>
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>

<script src="/js/client.js?123"></script>
<script>
    let ws;
    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#sendmessage").show();
        } else {
            $("#sendmessage").hide();
        }
    }

    function connect() {
        let url = 'wss://softfocus.website:8080/web-socket';
        ws = new WebSocket(url);
        ws.onopen = function () {
            showBroadcastMessage('<div class="alert alert-success">Connected to server</div>');
        };
        ws.onmessage = function (data) {
            showBroadcastMessage(createTextNode(data.data));
        };
        setConnected(true);
    }

    function disconnect() {
        if (ws != null) {
            ws.close();
            showBroadcastMessage('<div class="alert alert-warning">Disconnected from server</div>');
        }
        setConnected(false);
    }

    function sendChat() {
        ws.send("닉네임 : "+$("#message").val());
        $("#message").val("");
    }

    function createTextNode(msg) {
        // Json { idx: 1, msg: "" } idx -> focus #2
        return '<div class="alert alert-info">' + msg + '</div>';
    }

    function showBroadcastMessage(message) {
        $("#content").html($("#content").html() + message);
    }
</script>
<script>
    let map;
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                alert(position.coords.latitude + ' ' + position.coords.longitude);
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {  lat: Number(position.coords.latitude), lng: Number(position.coords.longitude)},
                    zoom: 16,

                });

                new google.maps.Marker({
                    position: {lat: Number(position.coords.latitude), lng: Number(position.coords.longitude)},
                    map: map
                })

            }, function(error) {
                console.error(error);
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });
        } else {
            alert('GPS를 지원하지 않습니다');
        }
    }
    window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbBZ7x_Apr11nIHJL7xF7y3eO3QLe0SiU&callback=initMap&libraries=places&v=weekly&radius=5000"></script>
</html>