<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index</title>

    <link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet" />
</head>

<body>
<select id="selection">
    <option>Content 1</option>
    <option>Content 2</option>
</select>

<div id="replace_div">
    Content goes here
</div>

<!-- JQury from Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        const getContent = () => {
            //create url to request fragment
            var url = /content/;
            if ($('#selection').val() === "Content 1") {
                url = url + "content1";
            } else {
                url = url + "content2";
            }

            //load fragment and replace content
            $('#replace_div').load(url);
        }

        //call function when page is loaded
        getContent();

        //set on change listener
        $('#selection').change(getContent);
    })
</script>
</body>
</html>
